*{
    margin : 0;
    padding : 0;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: rgb(74, 73, 73);
}
.card{
    max-width : 470px;
    width : 90%;
    background: linear-gradient(135deg,#00feba ,#5b548a);
    color :white;
    margin : 50px auto 0;
    border-radius: 20px;
    padding : 40px 35px;
    text-align: center;
}
.card-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color:white; /* Change color as desired */
    margin-bottom: 20px;
}

.searchBox{
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.searchBox input{
    border : 0;
    outline : 0;
    background : #ebfffc;
    color : #555;
    padding-left: 20px;
    margin-right: 16px;
    font-size : 18px;
    border-radius: 30px;
    flex : 1;
    height: 60px;
   
}
.error{
    text-align: left;;
    margin-left : 10px;
    font-size: 14px;
    margin-top: 10px;
    display : none;
}
.searchBox button{
    border : 0;
    outline : 0;
    background : #ebfffc;
    border-radius: 50%;
    width : 60px;
    height : 60px;
    cursor : pointer;
}
.searchBox button img{
    width : 16px;
}

.weather-image{
    width : 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight:300;
    margin-top: 10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.col img{
    width : 40px;
    margin-right: 10px;
}

.weather{
    display : none;
}
